<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <a class="brand" href="index.html" style="padding:10px;">
                前台商城
            </a>
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="ADMIN_IMG_URL/menu-toggler.png" alt="" />
            </a>        
            <div class="navbar hor-menu hidden-phone hidden-tablet" style="margin-left: -20px;">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a href="{:U('Main/index')}">系统首页<span class="selected"></span></a></li>
                        <li><a href="javaScript:void(0);">内容管理</a><span></span></li>
                        <li><a href="javaScript:void(0);">移动内容</a><span></span></li>
                        <li><a href="javaScript:void(0);">页面</a><span></span></li>
                        <li><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">全媒体库<span class="arrow"></span></a>
                            <ul style="min-width:110px;" class="dropdown-menu">
                                <li><a href="javaScript:void(0);">一键抓取规则管理</a></li>
                                <li><a href="javaScript:void(0);">图片库</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="javascript:;">视频管理<span class="arrow"></span></a>
                                    <ul style="min-width:110px;" class="dropdown-menu">
                                        <li><a tabindex="-1" href="javaScript:void(0);">视频库</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);">视频专辑</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);">视频广告</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">APP管理<span class="arrow"></span></a>
                            <ul style="min-width:110px;" class="dropdown-menu">
                                <li><a href="javaScript:void(0);">版本更新</a></li>
                                <li><a href="javaScript:void(0);">评论管理</a></li>
                                <li><a href="javaScript:void(0);">启动画面广告</a></li>
                                <li><a href="javaScript:void(0);">内容页广告</a></li>
                            </ul>
                        </li>
                        <li><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">扩展功能<span class="arrow"></span></a>
                            <ul style="min-width:110px;" class="dropdown-menu">
                                <li class="dropdown-submenu"><a tabindex="-1" href="javascript:;">文档管理<span class="arrow"></span></a>
                                    <ul style="min-width:110px;" class="dropdown-menu">
                                        <li><a tabindex="-1" href="javaScript:void(0);">文档引用实体列表</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);">文档</a></li>
                                    </ul>
                                </li>
                                <li><a href="javaScript:void(0);">广告栏位管理</a></li>
                                <li><a href="javaScript:void(0);">友情链接分类</a></li>
                                <li><a href="javaScript:void(0);">友情链接</a></li>
                                <li><a href="javaScript:void(0);">微信设置</a></li>
                                <li><a href="javaScript:void(0);">微信发布管理</a></li>
                                <li><a href="javaScript:void(0);">微博设置</a></li>
                                <li><a href="javaScript:void(0);">微博发布管理</a></li>
                                <li><a href="javaScript:void(0);">留言板管理</a></li>
                            </ul>
                        </li>
                        <li><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">网站管理<span class="arrow"></span></a>
                            <ul style="min-width:110px;" class="dropdown-menu">
                                <li><a href="javaScript:void(0);">PC栏目管理</a></li>
                                <li><a href="javaScript:void(0);">移动栏目管理</a></li>
                                <li><a href="javaScript:void(0);">评论管理</a></li>
                                <li><a href="javaScript:void(0);">活动表单字段管理</a></li>
                                <li class="dropdown-submenu"><a tabindex="-1" href="javascript:;">会员管理<span class="arrow"></span></a>
                                    <ul style="min-width:110px;" class="dropdown-menu">
                                        <li><a tabindex="-1" href="javaScript:void(0);">会员等级</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d50a21ef70150a6ff40860015','memberController.do?member')">会员</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d50a21ef70150a6ff40860015','memberMngAction.do?list')">会员部门</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d50a21ef70150a6ff40860015','departChannelAction.do?setDefault')">默认权限设置</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d50a21ef70150a6ff40860015','departChannelAction.do?list')">会员权限</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a tabindex="-1" href="javascript:;">政务功能<span class="arrow"></span></a>
                                    <ul style="min-width:110px;" class="dropdown-menu">
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d56ea426b0156fd30be290001','complaintsReportController.do?complaintsReport')">投诉举报</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d56ea426b0156fd30be290001','emailAddressController.do?emailAddress')">信访信箱</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d56ea426b0156fd30be290001','webErrorController.do?webError')">网站纠错</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d56ea426b0156fd30be290001','businessConsultingController.do?businessConsulting')">业务咨询</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=297ebc2d56ea426b0156fd30be290001','applyPublicController.do?applyPublic')">依申请公开</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a tabindex="-1" href="javascript:;">统计管理<span class="arrow"></span></a>
                                    <ul style="min-width:110px;" class="dropdown-menu">
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881834e2016fd014e201c64870011','contentStatisticController.do?toQuery')">内容统计</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881834e2016fd014e201c64870011','statisticsController.do?messagesStatistics')">留言统计</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881834e2016fd014e201c64870011','contentStatisticsController.do?contentCatTree')">栏目统计</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881834e2016fd014e201c64870011','personnelStatisticsController.do?deptTree')">人员统计</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881834e2016fd014e201c64870011','statisticsController.do?memberStatistics')">会员统计</a></li>
                                    </ul>
                                </li>
                                <li><a href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881ea452582c101452583a4900018','workFlowController.do?workFlow')">审核流程</a></li>
                                <li><a href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881ea452582c101452583a4900018','messagesController.do?messageslist')">公众留言</a></li>
                                <li><a href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881ea452582c101452583a4900018','wapconfigController.do?update')">wap设置</a></li>
                                <li><a href="javaScript:void(0);" onclick="horizantal('loginAction.do?LeftMenu&amp;topid=402881ea452582c101452583a4900018','simplespecialController.do?simplespecial')">专题管理</a></li>
                            </ul>
                        </li>
                        <li><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">系统管理<span class="arrow"></span></a>
                            <ul style="min-width:110px;" class="dropdown-menu">
                                <li class="dropdown-submenu"><a tabindex="-1" href="javascript:;">日志管理<span class="arrow"></span></a>
                                    <ul style="min-width:110px;" class="dropdown-menu">
                                        <li><a tabindex="-1" href="javaScript:void(0);">系统日志</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);">邮件日志</a></li>
                                        <li><a tabindex="-1" href="javaScript:void(0);">短信日志</a></li>
                                    </ul>
                                </li>
                                <li><a href="javaScript:void(0);">部门管理</a></li>
                                <li><a href="javaScript:void(0);">角色管理</a></li>
                                <li><a href="javaScript:void(0);">用户管理</a></li>
                                <li><a href="javaScript:void(0);">菜单管理</a></li>
                                <li><a href="javaScript:void(0);">数据字典</a></li>
                                <li><a href="javaScript:void(0);">站点管理</a></li>
                            </ul>
                        </li>
						</ul>
					</div>
				</div>
            <ul class="nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="" src="ADMIN_IMG_URL/avatar1_small.jpg" />
                    <span class="username">管理员</span>
                    <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="extra_profile.html"><i class="icon-user"></i> 个人信息</a></li>
                        <li><a href="page_calendar.html"><i class="icon-calendar"></i> 修改密码</a></li>
                        <li><a href="inbox.html"><i class="icon-envelope"></i> 我的消息</a></li>
                        <li><a href="#"><i class="icon-tasks"></i> 我的任务</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="icon-key"></i>安全退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
