<link href="ADMIN_CSS_URL/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="ADMIN_CSS_URL/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="ADMIN_CSS_URL/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="ADMIN_CSS_URL/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="ADMIN_CSS_URL/style.css" rel="stylesheet" type="text/css"/>
<link href="ADMIN_CSS_URL/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="ADMIN_CSS_URL/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="ADMIN_CSS_URL/uniform.default.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="ADMIN_IMG_URL/favicon.ico" />