<div class="page-sidebar nav-collapse collapse" style="position: fixed;left: 0;top: 42px;">
    <ul class="page-sidebar-menu hidden-phone hidden-tablet">
        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li class="start active ">
            <a href="index.html">
            <i class="icon-home"></i> 
            <span class="title">我的桌面</span>
            <span class="selected"></span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
            <i class="icon-cogs"></i> 
            <span class="title">页面布局</span>
            <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="layout_horizontal_sidebar_menu.html">
                        水平工具条菜单
                    </a>
                </li>
                <li >
                    <a href="layout_horizontal_menu1.html">
                    水平布局菜单（一）</a>
                </li>
                <li >
                    <a href="layout_horizontal_menu2.html">
                    水平布局菜单（二）</a>
                </li>
                <li >
                    <a href="layout_promo.html">
                    促销页面</a>
                </li>
                <li >
                    <a href="layout_email.html">
                    邮件模板</a>
                </li>
                <li >
                    <a href="layout_ajax.html">
                    异步请求</a>
                </li>
                <li >
                    <a href="layout_sidebar_closed.html">
                    关闭工具布局</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
