<div class="page-sidebar nav-collapse collapse" style="position: fixed;left: 0;top: 42px;">
    <ul class="page-sidebar-menu hidden-phone hidden-tablet">
        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li class="start active ">
            <a href="index.html">
            <i class="icon-home"></i> 
            <span class="title">系统首页</span>
            <span class="selected"></span>
            </a>
        </li>
        <volist name='menu' id='vo'>
        <li class="">
            <if condition='$vo.children neq null'><a href="javascript:;"></span><else /><a href="{:U($vo['url'])}"></span></if>
                <i class="{$vo.icon}"></i> 
                <span class="title">{$vo.name}</span>
                <if condition='$vo.children neq null'><span class="arrow "></span></if>
            </a>
            <if condition='$vo.children neq null'>
                <ul class="sub-menu">
                    <volist name='vo.children' id='vo1'>
                        <li><a href="{:U($vo1['url'])}"><i class="{$vo1.icon}"></i>{$vo1.name}</a></li>
                    </volist>
                </ul>
            </if>
        </li>
        </volist>
    </ul>
</div>
